<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--comment hint for IntelliJ so its intelli-sense connects vet variable to the Vet type-->
<!--/*@thymesVar id="vet" type=sfg.petclinicsfgedition.model.Vet*/-->
<h1 th:text="'List of Vets'">List of Vets...</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Jeremy</td>
        <td th:text="${vet.lastName}">Jackson</td>
    </tr>
    </tbody>
</table>
</body>
</html>